<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
      <script src="{% static 'js/index.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <meta charset="utf-8">
      <title>Title </title>
      <style>

        html { overflow:  hidden; }
        @font-face {
          font-family: pixel;
          src: url({% static 'fonts/pixel-font.ttf'%});
        }
      </style>
  </head>
  <body onload="getUser({{user.id}})">
    <div class="header">
        <div class="logo">BEAVER CLICKER |</div>
        <div align="center"><h3 class="username"> Welcome, <span id="user">%user%<span/>!</h3></div>
        <div class="logout"><a href="/logout">LOGOUT</a> </div>
    </div>
    <div class="game">
        <section class="game-main">
            <aside class="data">
                <div class="data-info" align="center">Stats:</div>
                <ul class="data-detail">
                    <li>Logs: <span id="data">%coins%</span></li>
                    <li>Logs per click: <span id="clickPower">{{mainCycle.clickPower}}</span></li>
                </ul>
            </aside>
            <input class="main-button clickable" type="image" class="clickable" src="{% static 'images/LogBig.png' %}" onclick="callClick()" />
        </section>

        <aside class="boosts">
            <ul class="boosts-list AutoDiv" id="boosts-list">
            </ul>
        </aside>
    </div>
  </body>
</html>
